.logo {
  display: flex;
  justify-content: center;
  width: 7rem;
  height: 3rem;
  margin: 20px auto;
  position: relative;
}

.mainCont {
  height: 100%;
  width: 100%;
  position: relative;
}

.mainContCenter{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  flex-direction: column;
  width: 90%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 20px;
}

.title h1{
  font-size: 3.4rem;
}

.title p{
  font-size: 1.2rem;
}

.title span {
  background-color: red;
  background-image: linear-gradient(45deg, #FFA800, #FF6E4E);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.walletconnect {
  margin: 30px 0;
  border-radius: 50vh;
  font-size: 1.2rem;
  padding: 10px 20px;
  font-weight: 500;
  text-align: center;
  background-color: #FF6E4E;
  background-image: linear-gradient(45deg, #FFA800, #FF6E4E);
  background-size: 100%;
  background-repeat: repeat;
  border: none;
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 1em 0;
}
.socials .twitter {
  height: 1.4rem;
  margin: 0.9em 1em 1em 1em;
}
.socials .discord {
  height: 1rem;
  margin: 1em;
}
/*responsivity for device lower than 600px*/
@media all and (max-width: 600px) {
  .title h1{
    font-size: 2.4rem;
  }
}